@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

/* MAIN CONFIG */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;

  --min-font-size: 1rem;
  --max-font-size: 1.5rem;
  --scale-factor: 2vw;

  --border-radius: 10px;

  --color-main-blue: hsl(190, 100%, 10%);
  --color-main-blue-lighter: hsl(190, 100%, 17%);
  --color-main-blue-hover: hsl(190, 100%, 13%);
  --color-main-blue-hover-lighter: hsl(190, 100%, 20%);

  --color-accent: #00ACD0;
  --color-blur-bg: rgba(0, 0, 0, 0.4);
  --filter-blur-bg: blur(2px);
  --box-shadow-blur: 3px 3px 10px 0px var(--color-main-blue);
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5
h6,
button {
  font-family: 'New Super Mario Font U', sans-serif;
  color: white;
}

body {
  padding: var(--padding-lg);
  background-image: url("Images/Background.png");
  background-size: max(50%, 500px);
  font-size: clamp(var(--min-font-size), var(--scale-factor), var(--max-font-size));
  accent-color: var(--color-accent);
}

h1 {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  color: var(--color-main-blue);
}

h2 {
  font-size: clamp(1.2rem, 2vw + 1rem, 2rem);
}

h3 {
  font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

input, label, button {
  font-size: clamp(1rem, 2vw + .5rem, 1.3rem);
}

input {
  border-radius: 5px;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

img {
  max-width: 100%;
}

button {
  background: linear-gradient(180deg, var(--color-main-blue-lighter) 0%, var(--color-main-blue) 100%);
  border: none;
  padding: var(--padding-sm);
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: inset 0px -5px 5px -3px rgba(0, 0, 0, 0.75);
}

button:hover {
  background: linear-gradient(180deg, var(--color-main-blue-hover-lighter) 0%, var(--color-main-blue-hover) 100%);
}

hr {
  color: white;
}

svg {
  height: clamp(30px, 4vw, 40px);
  width: clamp(30px, 4vw, 40px);
  fill: white;
}


/* HEADER */
header {
  padding-bottom: var(--padding-sm);
  display: flex;
  justify-content: space-between;
  gap: var(--padding-sm);
  align-items: center;
}

.subheader {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  align-items: center;
  background-color: var(--color-blur-bg);
  backdrop-filter: var(--filter-blur-bg);
  box-shadow: var(--box-shadow-blur);
  
  & > h2 {
    padding-left: var(--padding-sm);
  }

  & > button {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  } 
}

.settings-wrapper {
  position: relative;
}

.settings-toggle {
  cursor: pointer;
  background: transparent;
  box-shadow: none;

  & > svg {
    vertical-align: middle;
    fill: var(--color-main-blue);
    stroke: var(--color-main-blue);
  }
}

.settings-toggle:hover {
  background: transparent;

  & > svg {
    fill: var(--color-main-blue-hover);
    stroke: var(--color-main-blue-hover);
  }
}

.settings-menu {
  position: absolute;
  background-color: var(--color-main-blue);
  right: 0;
  padding: var(--padding-md);
  border-radius: var(--border-radius);
  display: grid;
  width: max-content;
  gap: var(--padding-sm);
  z-index: 1;
  max-width: calc(100vw - (2 * var(--padding-lg)));

  & h3, label {
    user-select: none;
  }

  & button {
    border: 1px solid gray;
  }
}

.settings-wrapper:has(.settings-toggle[data-open="false"]) {
  & > .settings-menu {
    display: none;
  }

  & .cross {
    display: none;
  }
}

.settings-wrapper:has(.settings-toggle[data-open="true"]) {
  & .menu {
    display: none;
  }
}

.setting {
  display: none;
  justify-content: space-between;
  gap: var(--padding-md);
  align-items: baseline;
}

.setting-toggle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: var(--padding-sm);
  align-items: center;
}

.setting-wrapper {
  display: grid;
  grid-gap: var(--padding-sm);
}

.setting-wrapper:has(.setting-toggle[data-open="true"]) {
  & > .setting {
    display: flex;
  }

  & > .setting-toggle > span {
    transform: rotateX(180deg);
  }
}


/* MAIN LAYOUT */
main {
  display: grid;
  gap: var(--padding-md);
}


/* KART LAYOUT */
.kart-wrapper {
  display: flex;
  gap: var(--padding-md);
  flex-direction: column;
}

.kart-item {
  display: grid;
  grid-template-areas:
  ". character ."
  "kart tires glider";
  gap: var(--padding-lg);
  justify-items: center;
  background-color: var(--color-blur-bg);
  backdrop-filter: var(--filter-blur-bg);
  border-radius: var(--border-radius);
  padding: var(--padding-sm) 0;
  box-shadow: var(--box-shadow-blur);
  position: relative;

  & .character,
  .kart,
  .tires,
  .glider {
    width: 100%;
    max-width: 150px;
  }

  & .character {
    grid-area: character;
    max-width: 200px;
  }

  & .kart {
    grid-area: kart;
  }

  & .tires {
    grid-area: tires;
  }

  & .glider {
    grid-area: glider;
  }
}

.kart-item[data-show="false"] {
  display: none;
}

.show-stats {
  position: fixed;
  right: 0;
  top: 0;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

.hide-stats {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  width: fit-content;
  padding: var(--padding-sm) var(--padding-md);
}

.stats-overlay {
  background-color: var(--color-main-blue);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: var(--border-radius);
  gap: var(--padding-md);
  grid-template-columns: 1fr auto;
}

.stats-overlay[data-show="true"] {
  display: grid;
}

.stats-wrapper {
  display: grid;
  gap: var(--padding-sm);
  overflow: auto;
  padding: var(--padding-sm)  var(--padding-md);
}

.stats-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.drift-type {
  padding: var(--padding-sm)  var(--padding-md);
}

.stat {
  display: grid;
  gap: 4px;
}

.stats-bar {
  height: 8px;
  background-color: rgb(51, 51, 51);
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  outline: 2px solid rgb(83, 83, 0);
}

.bar-percentage {
  position: absolute;
  background-color: rgb(226, 226, 23);
  height: 100%;
}

.bar-stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  & > .stripe {
    width: 4px;
    background-color: black;
  }
}


/* TRACK LAYOUT */
.track-wrapper {
  display: flex;
  gap: var(--padding-md);
  flex-direction: column;
}

.track-info {
  display: grid;
  justify-items: center;
  gap: var(--padding-md);
  background-color: var(--color-blur-bg);
  backdrop-filter: var(--filter-blur-bg);
  border-radius: var(--border-radius);
  padding: var(--padding-md);
  box-shadow: var(--box-shadow-blur);
}

.cup {
  width: 100%;
  max-width: 150px;
}

.items-info {
  background-color: var(--color-blur-bg);
  backdrop-filter: var(--filter-blur-bg);
  border-radius: var(--border-radius);
  padding: var(--padding-md);
  box-shadow: var(--box-shadow-blur);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: var(--padding-sm);
  justify-items: center;
}

.item {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}

.item[data-show="false"] {
  display: none;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .stats-bar {
    height: 16px;
  }
}
